/* Тут добавить стили, обищие для всего текста */
/** Headings **/
.r-dispaly-heading {
	font-weight: 600;
	font-size: 1.75rem;
	line-height: 2rem;
	letter-spacing: -0.02em;
}
h1,
.r-h1 {
	font-weight: 600;
	font-size: 1.4375rem;
	line-height: 1.75rem;
	letter-spacing: -0.02em;
}
h2,
.r-h2 {
	font-weight: 600;
	font-size: 1.1875rem;
	line-height: 1.5rem;
}
h3,
.r-h3 {
	font-weight: 600;
	font-size: 1rem;
	line-height: 1.25rem;
}
h4,
.r-h4 {
	font-weight: 700;
	font-size: 0.875rem;
	line-height: 1.25rem;
}
h5,
h6,
.r-h5,
.r-h6 {
	color: var(--gray-700);
	font-weight: 700;
	font-size: 0.875rem;
	line-height: 1.25rem;
}

/** Label text **/
.r-label {
	font-size: 0.875rem;
	line-height: 1rem;
	width: fit-content;
}
.r-label.r-label--mono {
	font-family: 'JetBrainsMono';
}
.r-label.r-label--small {
	font-size: 0.75rem;
	line-height: 1rem;
}
.r-label.r-label--bold {
	font-weight: 700;
}
.r-label.r-label--underline {
	text-decoration-line: underline;
}
.r-label.r-label--secondary {
	color: var(--gray-700);
}
.r-label.r-label--placeholder {
	color: var(--gray-600);
}
.r-label.r-label--disabled {
	color: var(--gray-700);
}
.r-label.r-label--anchor {
	color: var(--blue-500);
}
.r-label.r-label--enverted {
	color: var(--white);
	background-color: var(--gray-950);
}

/** Paragraph **/
p,
.r-p {
	font-size: 0.75rem;
	line-height: 1.25rem;
}
.r-p.r-p--bold {
	font-weight: 700;
}
.r-p.r-p--underline {
	text-decoration-line: underline;
	text-underline-offset: 0.125rem;
}

/** Middle **/
@media all and (min-width: 768px) {
	.r-dispaly-heading {
		font-size: 1.9375rem;
		line-height: 2.25rem;
	}
	h1,
	.r-h1 {
		font-size: 1.5625rem;
	}
	h2,
	.r-h2 {
		font-size: 1.25rem;
	}
	p,
	.r-p {
		font-size: 0.875rem;
		line-height: 1.25rem;
	}
	.r-p.r-p--underline {
		text-underline-offset: 0.1875rem;
	}
}
/** Large **/
@media all and (min-width: 992px) {
	.r-dispaly-heading {
		font-size: 2.375rem;
		line-height: 2.75rem;
	}
	h1,
	.r-h1 {
		font-size: 1.75rem;
		line-height: 2rem;
	}
	h2,
	.r-h2 {
		font-size: 1.3125rem;
	}
}
/** XL **/
@media all and (min-width: 1200px) {
	.r-dispaly-heading {
		font-size: 2.8125rem;
		line-height: 3.25rem;
	}
	h1,
	.r-h1 {
		font-size: 2rem;
		line-height: 2.25rem;
	}
	h2,
	.r-h2 {
		font-size: 1.4375rem;
		line-height: 1.75rem;
	}
	p,
	.r-p {
		font-size: 1rem;
		line-height: 1.5rem;
	}
}
